@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:260px;
    border:1px solid #bbb;
    margin:0px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}




.btn-group-sm>.btn, .btn-sm{


padding: 5px;


}

/*
QUOTES*/


     blockquote {
        font-family: 'Droid Sans', sans-serif;
        border-left: none
    }

    .inner-block {
        overflow: hidden;
        border-radius: 17px;
        background-color: #727272;
        margin-top: 25px;
        color:  white;
        width: 250px;
        box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.75);
        box-sizing: 10px;
    }

    .block-text {
        font-size: 19px;
        margin-top: 13px;
    }





/*
QUOTES close */







